
@{
    ViewBag.Title = "courses";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h2>دوره ها</h2>
<button id="newcrs" style="margin-bottom:20px" class="btn btn-success">ایجاد دوره جدید</button>
<div class="row">
    @foreach (var crs in ViewBag.courses)
    {

    <div class="col-lg-6">

        <div id="ch_@crs.pkID" class="card-body">
            <h5 class="card-title">@crs.title</h5>

            <!-- Default Accordion -->
            <div class="accordion" id="accordionExample">


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@crs.pkID" aria-expanded="false" aria-controls="collapseThree">
                            ویرایش
                        </button>
                    </h2>
                    <div id="collapse_@crs.pkID" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="nav nav-tabs" id="c_@crs.pkID" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab1_@crs.pkID" type="button" role="tab" aria-controls="home" aria-selected="true">اطلاعات کلی</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab2_@crs.pkID" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">ویرایش عکس</button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2" id="">
                                <div class="tab-pane fade show active" id="tab1_@crs.pkID" role="tabpanel" aria-labelledby="home-tab">
                                    <form>
                                        <div class="row mb-3">
                                            <label for="inputText" class="col-sm-12 col-form-label">عنوان دوره</label>
                                            <div class="col-sm-12">
                                                <input id="crsttl_@crs.pkID" type="text" class="form-control" value="@crs.title">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="inputPassword" class="col-sm-12 col-form-label">توضیحات دوره</label>
                                            <div class="col-sm-12">
                                                <textarea id="crsdis_@crs.pkID" class="form-control" style="height: 100px">@crs.dis</textarea>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-sm-12 col-form-label">استاد</label>
                                            <div class="col-sm-12">
                                                <select id="crstchr_@crs.pkID" class="form-select" aria-label="Default select example">
                                                    @foreach (var tchr in ViewBag.teachers)
                                                    {
                                                        if (crs.fkCat == tchr.pkID)
                                                        {
                                                            <option id="tchr_@tchr.pkID" selected>@tchr.Name@tchr.Family</option>
                                                        }
                                                        else
                                                        {
                                                            <option id="tchr_@tchr.pkID">@tchr.Name @tchr.Family</option>
                                                        }

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-12 col-form-label">بخش</label>
                                            <div class="col-sm-12">
                                                <select id="crscat_@crs.pkID" class="form-select" aria-label="Default select example">
                                                    @foreach (var cat in ViewBag.cat)
                                                    {
                                                        if (crs.fkCat== cat.pkID)
                                                        {
                                                            <option id="cat_@cat.pkID" selected>@cat.title</option>
                                                        }
                                                        else
                                                        {
                                                            <option id="cat_@cat.pkID">@cat.title</option>
                                                        }

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Rounded switch -->
                                    <div style="direction:ltr">
                                        <div>وضعیت نمایش</div>
                                        <label class="switch">
                                            <input id="cstatus_@crs.pkID" type="checkbox">
                                    
                                            <span class="slider round"></span>

                                        </label>
                                    </div>
                                    <br />
                                    <div class="row mb-3">

                                        <div class="col-xl-12">
                                            <button id="sub_@crs.pkID" type="button" class="btn btn-primary subbtn">ذخیره</button>
                                            <button id="del_@crs.pkID" type="button" class="btn btn-danger delbtn" style="float:left">حذف</button>
                                            <br />
                                            <p id="sm_@crs.pkID" style="text-align:center"></p>
                                        </div>
                                    </div>

                                    


                                </div>
                                <div class="tab-pane fade" id="tab2_@crs.pkID" role="tabpanel" aria-labelledby="profile-tab">

                                   

                                    <form class="editImg" enctype="multipart/form-data">
                                       <img style="width:100%; margin-bottom:40px" src="~/adminAssets/img/imgsrc/@crs.address" />
                                        <div class="row mb-3" style="display:none">
                                            <label for="inputText" class="col-sm-12 col-form-label">شناسه دوره</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" value="@crs.pkID" name="cid">
                                            </div>
                                        </div>
                                        <div class="row mb-3" style="display:none">
                                            <label for="inputText" class="col-sm-12 col-form-label">شناسه عکس</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" value="@crs.pkID" name="pid">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputText" class="col-sm-12 col-form-label">عنوان عکس</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" value="@crs.imgTitle" name="imgttl">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputText" class="col-sm-12 col-form-label">جایگزین عکس</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" value="@crs.alt" name="imgalt">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputNumber" class="col-sm-12 col-form-label">عکس دوره</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="file" name="imgsrc">
                                                <br /> <br />
                                            </div>

                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-primary">ذخیره</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Default Accordion Example -->

        </div>
    </div>
}
    </div>
@section s{
    <script>
//const { Token } = require("../../adminAssets/vendor/tinymce/plugins/codesample/plugin");



        $(".subbtn").click(function () {

            var thisid = $(this).attr("id");

            var validation = true;

            var a = thisid.split("_");
            var crsttl = $(`#crsttl_${a[1]}`).val();
            var crsdis = $(`#crsdis_${a[1]}`).val();
            var crstchr = $(`#crstchr_${a[1]}`).find(`option:selected`).attr(`id`);
            var crscat = $(`#crscat_${a[1]}`).find(`option:selected`).attr(`id`);
            var cstatus = $(`#cstatus_${a[1]}`).is(":checked");


            cc = crscat.split("_");
            ct = crstchr.split("_");

            if (crsttl.length == 0 || crsttl.length > 50) {
                validation = false;
            }
            if (crsdis.length == 0 || crsdis.length > 300) {
                validation = false;
            }
            if (validation) {

                sl();


                $.post("/admin/edit_course", { cttl: crsttl, cdis: crsdis, cs: cstatus, ctchr: ct[1], ccat: cc[1], cID: a[1], })
                    .done(function (res) {

                        if (res.status) {
                            swal("ویرایش انجام شد", res.m, "success");
                            $(`#sm_${a[1]}`).html("ویرایش انجام شد");

                        }
                        else {
                            $(`#sm_${a[1]}`).html(res.m);
                        }
                    })
                    .fail(function () {
                        fail();
                    })
                    .always(function () {
                        fl();
                    });
            }
            else {
                alert("اطلاعات را به درستی تکمیل کنید");
            }




        });

        $(".delbtn").click(function () {

            swal({
                title: "آیا مطمئن هستید؟",
                text: "در صورت تایید فایل مورد نظر به طور کامل حذف می شود",
                icon: "warning",
                buttons: ["لغو","بله"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        var thisid = $(this).attr("id");

                        var a = thisid.split("_");
                        sl();
                        $.post("/admin/remove_course", { id: a[1], __RequestVerificationToken: token })
                            .done(function (res) {
                                if (res.status) {
                                    $(`#ch_${a[1]}`).remove();
                                    swal("فایل مورد نظر حذف شد", {
                                        icon: "success",
                                    });
                                }
                                else {
                                    $(`#sm_${a[1]}`).html(res.m);
                                }
                            })
                            .fail(function () {
                                
                                fail();
                            })
                            .always(function () {
                                fl();
                            });

                    } else {

                    }
                });


        });

        $(".editImg").submit(function (e) {
            var img = $(this).children("img");
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            formData.append ("__RequestVerificationToken", token);
            sl();
            $.ajax({
                url: "/admin/editimg", // Adjust with your Action and Controller names
                type: 'POST',
                data: formData,
                contentType: false, // Prevent jQuery from setting content-type header
                processData: false, // Prevent jQuery from processing the data
            })
            .done(function (res) {
                if (res.status) {
                  
                    swal("عملیات موفق", res.m, "success");
                    $(img).attr("src",`/adminAssets/img/imgsrc/${res.reff}`)
                }
                else {
                    swal("عملیات ناموفق", res.m, "error");
                }
            })
                     .fail(function () {

                         fail();
                     })
                     .always(function () {
                         fl();
                     });

        });

        $("#newcrs").click(function () {
        /* sl();*/
            
            $.post("/admin/create_Course2", { __RequestVerificationToken: token })
                
                .done(function (res) {
                    
                    if (res.status) {
                       
                        window.location.reload();
                       
                    }
                    else {
                swal("عملیات ناموفق", res.m, "error");
                    }
                })
                .fail(function () {
                   
                    fail();
                })
                .always(function () {
                    fl();
                });


        });


    </script>
}